@import url("https://fonts.googleapis.com/css2?family=Abel&family=Libre+Baskerville&family=Open+Sans:wght@300&family=Victor+Mono&display=swap");

/* #068fff  cor para usar no x e circulo */
* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #205e61;
    box-sizing: border-box;
}

header {
    margin-bottom: 100px;
    font-size: 2rem;
    font-weight: bold;
    font-family: "Victor Mono", monospace;
}

.container {
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.botao {
    cursor: pointer;
    margin: 3px;
    border-radius: 5px;
    border: none;
}
